<!DOCTYPE html>
<html lang="en" data-bs-theme="-dark-">

{% extends 'base.html' %}

{% block title %}Wood Works LLC{% endblock %}

{% block content %}
<body>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/images/Wood_works.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
             loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Wood Works LLC</h1>
        <p class="lead">Welcome to our website, where we are on a mission to provide exceptional services to customers
          in the US. As a startup, we believe that moving doesn't have to be stressful or complicated, and we are
          passionate about making the process as seamless and enjoyable as possible.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-warning btn-lg px-4 me-md-2" href="{{ url_for('contact') }}">Get a Quote</a>
          <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="{{ url_for('contact') }}">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">What We Offer:</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('../static/images/moulding.jpg'); background-position: center center; background-size: 100%; min-height: 500px;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="mb-4 display-6 lh-1 fw-bold" style="color: #fdba00; text-shadow: 2px 2px #433521;">Finish Carpentry</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../static/images/Wood_works.svg" alt="Wood Works LLC Logo" width="32" height="32"
                     class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('../static/images/flooring.jpeg'); background-position: center center; background-size: 100%; min-height: 500px;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="mb-4 display-6 lh-1 fw-bold" style="color: #fdba00; text-shadow: 2px 2px #433521;">Flooring</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../static/images/Wood_works.svg" alt="Wood Works LLC Logo" width="32" height="32"
                     class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('../static/images/fence.jpeg'); background-position: center center; background-size: 100%; min-height: 500px;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="mb-4 display-6 lh-1 fw-bold" style="color: #fdba00; text-shadow: 2px 2px #433521;">And Much Much More</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../static/images/Wood_works.svg" alt="Wood Works LLC Logo" width="32" height="32"
                     class="rounded-circle border border-white">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../static/images/1.jpg" class="d-block w-100" style="max-height: 400px; object-fit: cover;" alt="Wood Work">
        <div class="carousel-caption d-none d-md-block">
          <h5>Here is a picture</h5>
          <p>Here is some description.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../static/images/2.jpg" class="d-block w-100" style="max-height: 400px; object-fit: cover;" alt="Landscaping">
        <div class="carousel-caption d-none d-md-block">
          <h5>Here is another picture</h5>
          <p>Here is some description.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/images/3.jpg" class="d-block w-100" style="max-height: 400px; object-fit: cover;" alt="Moulding">
        <div class="carousel-caption d-none d-md-block">
          <h5>Here is another picture</h5>
          <p>Here is some description.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>
